@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf'); /* IE9 Compat Modes */
    src: url('../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('embedded-opentype'), /* IE6-IE8 */url('../') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype'), /* Super Modern Browsers */
            url('../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype'), /* Pretty Modern Browsers */
            url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype'), /* Pretty Modern Browsers */
            url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

:root{
    --color-principal: #3F7D58;
    --color-secundario: #EFEFEF;
    --color-auxiliar-1: #EF9651;
    --color-auxiliar-2: #EC5228;

    --ppal-font: "Montserrat", sans-serif;
}


body{
    background-color: var(--color-principal);
}

h1{
    color: var(--color-auxiliar-1);
    font-family: var(--ppal-font);
    font-weight: 300;
}

h2{

}